* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.tablePerson {
    width: 70%;
    border-radius: 20px;
    overflow: hidden;
    border: solid 2px rgb(48, 75, 209);
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    border-bottom: solid 2px rgb(48, 75, 209);
}

tr {
    height: 40px;
}

td, th {
    padding: 10px;
    border-right: solid 2px rgb(48, 75, 209);
}

.id-cell, .gender-cell {
    text-align: center;
    width: 10%;
}
