* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 50px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 30px 30px 20px;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card h1 {
    color: #1b3de8;
    text-align: center;
}

a {
    background-color: #1b3de8;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    text-decoration: none;
}