body {
    margin: 0;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

h1, h2 {
    margin: 0;
}

#balance {
    color: rgb(0, 124, 196);
}

form {
    display: flex;
    gap: 10px;
    align-items: center;
}

input, button {
    padding: 6px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid rgb(0, 124, 196);
}

select {
    padding: 6px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(0, 124, 196);
}

button {
    width: auto;
    padding: 6px;
    background: rgb(0, 124, 196);
    color: aliceblue;
}

.tableItem {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 3px solid rgb(0, 124, 196);
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: rgb(0, 124, 196);
    color: white;
}

th, td {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid rgb(0, 124, 196);
}
