
body {
    display: flex;
    padding: 5px;
    justify-content: center;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gridlayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
}


.gridlayout .card {
    background-color: black;
    color: azure;
    border-radius: 20px;
    padding: 20px;
}

img {
    height: 35vh;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width:768px) {
    .gridlayout {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        width: 100%;
    }
}