body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;
    font-size: 24;
}

.number_slot{
    display: flex;
    gap: 30px;
}

img {
    height: auto;
    width: 100px;
}

button {
    height: 40px;
    width: 120px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(14, 26, 189);
    border: rgb(14, 26, 189) 2px solid;
}