* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #2a3974;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 80%;
}

.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.info {
    padding: 15px;
}

.info h2 {
    margin-bottom: 10px;
}

.info p {
    font-size: 14px;
    margin-bottom: 6px;
}
