* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
}

.question {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.question h4{
    margin-bottom: 15px;
}

.question input{
    margin-left: 18px;
}

.answer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}