<!doctype html>
<html lang="en">
<%- include("head.ejs") %>

    <body>
        <!-- heaher -->
        <%- include("header.ejs") %>
        <!-- Content -->

        <!-- footer -->
        <% include("footer.ejs") %>
    </body>

</html>