body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    justify-content: center;
    background-color: #eff1f5;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: fit-content;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}

.card-detail {
    margin-top: 0%;
    text-align: left;
}

.card h1 {
    margin: 0 5px 10px 5px;
}

.card h2 {
    margin: 10px 5px 0 5px;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}