@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: rgb(222, 240, 255);
    font-family: "Exo 2", sans-serif;
}

.logincard {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 2px rgb(106, 165, 255) solid;
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
    width: 325px;
    gap: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.form_fild {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.label {
    display: flex;
    flex-direction: column;
}

.label label {
    margin-bottom: 5px;
    font-size: 16px;
}

.label input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #bae1ff;
    width: 100%;
    box-sizing: border-box
}

button {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    background-color: #9bcbff;
    color: white;
    border: 0cap;
}