body {
    background-color: rgb(2, 3, 18);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 30px;
}

.table_score {
    width: 50%;
    min-width: 300px;
    border: 2px aliceblue solid;
    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border-bottom: 2px aliceblue solid;
    padding: 10px;
}

td {
    border-bottom: 1px aliceblue solid;
    padding: 10px;
    text-align: center;
}

button {
    width: 150px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    background-color: aliceblue;
    color: rgb(2, 3, 18);
}