* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #070622;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1 {
    margin-bottom: 50px;
}

.user_table {
    border: 2px solid white;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
}

table {
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    height: 50px;
}

th {
    background-color: #120cc5;
    color: white;
}
