* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardList {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 25px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .cardList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .cardList {
        display: grid;
        grid-template-columns: 1fr;
    }
}