/* พื้นฐาน */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f6ff;
    color: #1e3a5f;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #1e40af;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 80px;
    margin-bottom: 8px;
}

input[type="text"], select {
    padding: 6px 8px;
    border: 1px solid #93c5fd;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
}

.btn {
    margin-top: 10px;
    margin: 30px auto 0;
    display: block;
}


hr {
    width: 70%;
    margin: 30px 0;
    border: none;
    border-top: 1px solid #cbd5e1;
}

table {
    width: 70%;
    border-collapse: collapse;
    background-color: white;
}

thead {
    background-color: #dbeafe;
}

th, td {
    border: 1px solid #cbd5e1;
    padding: 8px;
}

th {
    text-align: center;
}
