body {
    background-color: rgb(4, 9, 19);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 30px;
}

.inputNumber {
    display: flex;
    width: 300px;
    gap: 25px;
}

input {
    padding: 8px;
    border-radius: 10px;
    border: 3px solid #3268fd;
    width: 100%;
    box-sizing: border-box
}

button {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    background-color: #3268fd;
    color: white;
    border: 0cap;
}

.table_multi {
    width: 500px;
    border: 2px aliceblue solid;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border-bottom: 2px aliceblue solid;
    padding: 10px;
    border-left: 1px aliceblue solid;
}

td {
    border-bottom: 1px aliceblue solid;
    border-left: 1px aliceblue solid;
    padding: 10px;
    text-align: center;
}