@font-face {
    font-family: myWebFont;
    src: url(ChakraPetch-Regular.ttf);
}

body {
    font-size: 20px;
    font-family: myWebFont;
    padding: 20px;
}

h1 {
    color: rgb(58, 26, 53);
}

h2 {
    color: rgb(118, 7, 64);
}

.bgcolor {
    background-color: rgb(226, 221, 221);
    border-radius: 20px;
    padding: 20px;
}

img {
    border-radius: 20px;
    width: 100%;
}

table {
    border: black 2px solid;
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: black 3px solid;
    border-left: black 2px solid;
}

td {
    border-bottom: black 2px solid;
    border-left: black 2px solid;
}
