<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 8 - 2</title>
    <link href="/fail.css" rel="stylesheet">
</head>
<body>
    <div class="error_card">
        <h2>Sign-In Failed</h2>
        <p><%= message %></p>

        <form action="/" method="GET">
            <button type="submit" class="back">Back to Sign In</button>
        </form>
    </div>
</body>
</html>
