@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Exo 2", sans-serif;
    background-color: rgb(240, 243, 245);
    color: rgb(1, 6, 17);
}

.calendar {
    text-align: center;
}

table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 8px; 
}

.anothermonth {
    background-color: rgb(251, 217, 226);
    color: rgb(156, 23, 23);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

th, td {
    width: 55px;
    height: 55px;
    padding: 0;
    text-align: center;
}
